@mixin prefixed($property, $value, $second:false) {
  @if $second {
    -webkit-#{$property}: $value, $second;
       -moz-#{$property}: $value, $second;
        -ms-#{$property}: $value, $second;
         -o-#{$property}: $value, $second;
            #{$property}: $value, $second;
  } @else {
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
  }
}

body.pg-loaded {
  opacity: 1;
  @include prefixed(animation, pgAnimLoading 0.5s cubic-bezier(0.7,0,0.3,1) both);
}

.pg-loading-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000000;
  opacity: 1;

  &.pg-loaded {
    opacity: 0;
    @include prefixed(animation, pgAnimLoaded 0.5s cubic-bezier(0.7,0,0.3,1) both);
  }

  &.pg-loading {
    .pg-loading-logo-header, .pg-loading-spinner, .pg-loading-message {
      opacity: 1;
    }

    .pg-loading-logo-header, .pg-loading-spinner, .pg-loading-message {
      @include prefixed(animation, pgAnimLoading 1s cubic-bezier(0.7,0,0.3,1) both);
    }

    .pg-loading-message {
      @include prefixed(animation-delay, 0.3s);

      .ellipsis {
        opacity: 0;

        &.one {
          @include prefixed(animation, dot-1 1.5s infinite);
        }

        &.two {
          @include prefixed(animation, dot-2 1.5s infinite);
        }

        &.three {
          @include prefixed(animation, dot-3 1.5s infinite);
        }
      }
    }

    .pg-loading-spinner {
      @include prefixed(animation-delay, 0.3s);
    }
  }

  .pg-loading-inner {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: static;
  }

  .pg-loading-center-outer {
    width: 100%;
    padding: 0;
    display: table !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  .pg-loading-center-middle {
    padding: 0;
    vertical-align: middle;
    display: table-cell  !important;
    margin: 0;
    text-align: center;
  }

  .pg-loading-logo-header, .pg-loading-spinner {
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
  }

  .pg-loading-logo-header {
    text-align: center;

    img {
      display: inline-block !important;
    }
  }

  .pg-loading-message {
    margin: 90px auto 0 auto;
    font-size: 22px;
    font-weight: 400;
  }

  .pg-loading-spinner {
    margin: 90px auto 0 auto;
  }
}

@-webkit-keyframes pgAnimLoading {
  from {
    opacity: 0;
  }
}
@-moz-keyframes pgAnimLoading {
  from {
    opacity: 0;
  }
}
@-o-keyframes pgAnimLoading {
  from {
    opacity: 0;
  }
}
@-ms-keyframes pgAnimLoading {
  from {
    opacity: 0;
  }
}
@keyframes pgAnimLoading {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes pgAnimLoaded {
  from {
    opacity: 1;
  }
}
@-moz-keyframes pgAnimLoaded {
  from {
    opacity: 1;
  }
}
@-o-keyframes pgAnimLoaded {
  from {
    opacity: 1;
  }
}
@-ms-keyframes pgAnimLoaded {
  from {
    opacity: 1;
  }
}
@keyframes pgAnimLoaded {
  from {
    opacity: 1;
  }
}

@-webkit-keyframes dot-1 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes dot-1 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes dot-1 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes dot-1 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes dot-1 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@-webkit-keyframes dot-2 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes dot-2 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes dot-2 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes dot-2 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes dot-2 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

@-webkit-keyframes dot-3 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes dot-3 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes dot-3 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@-ms-keyframes dot-3 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes dot-3 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}

